ADMIN_PASSWORD=change-moi
DATABASE_URL=
DATABASE_SSL=true
PUBLIC_PROTECTION=true
SECURITY_HASH_SECRET=change-moi-avec-une-longue-valeur-secrete
TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=
PUBLIC_URL=http://localhost:3000
BREVO_API_KEY=
MAIL_FROM_EMAIL=
MAIL_FROM_NAME=Tchatelia
